h1 {
    color: blue;
    font-size: 20 px;
}

#cabecera {
    color: aqua;
    font-size: 45px;
    text-align: center;
    border: 1px solid;
}
#cabecera .logo{
    padding-top: 5px;
}

.conten {
    border: 1px dotted;
    padding-left: 10px;
}

#VEGETTA {
    color: indigo;
}

#Lleve {
    color: black;
}

#pie {
    color: black;
    text-align: center;
}